# Datasets

Data is from three CSVs published by the City of Chicago and last updated on August 22, 2022.

Traffic Crashes - Crashes: https://data.cityofchicago.org/Transportation/Traffic-Crashes-Crashes/85ca-t3if

Traffic Crashes - Vehicle: https://data.cityofchicago.org/Transportation/Traffic-Crashes-Vehicles/68nd-jvt3

Traffic Crashes - People: https://data.cityofchicago.org/Transportation/Traffic-Crashes-People/u6pd-qa9d

I stored these files locally to avoid github large file storage system.

## Setting Up Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Unzipping Files

In [2]:
# unzipped files were added to .gitignore file

### Crashes Dataset

In [3]:
# # from Kevin Rivera
# from zipfile import ZipFile
# # specifying the zip file name
# file_name = "../CarCrashData/Traffic_Crashes_Crashes.csv"
# # opening the zip file in READ mode
# # with ZipFile(file_name, 'r') as zip:
# #     # printing all the contents of the zip file
# #     zip.printdir()
# #     # extracting all the files
# #     print('Extracting all the files now...')
# #     # extract data to the same directory as the other data
# #     zip.extractall(path='./zippedData')
# #     print('Done!')

In [4]:
crashes = pd.read_csv('../CarCrashData/Traffic_Crashes_Crashes.csv')
crashes.head()

,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,0115ade9a755e835255508463f7e9c4a9a0b47e9304238...,JF318029,NaN,07/15/2022 12:45:00 AM,30,UNKNOWN,UNKNOWN,CLEAR,"DARKNESS, LIGHTED ROAD",ANGLE,...,0.0,0.0,2.0,0.0,0,6,7,41.886336,-87.716203,POINT (-87.716203130599 41.886336409761)
1,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,JF324552,NaN,07/15/2022 06:50:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,...,0.0,0.0,2.0,0.0,18,6,7,41.925111,-87.667997,POINT (-87.667997321599 41.925110815832)
2,01aaa759c6bbefd0f584226fbd88bdc549de3ed1e46255...,JF319819,NaN,07/15/2022 05:10:00 PM,40,NO CONTROLS,NO CONTROLS,CLOUDY/OVERCAST,DAYLIGHT,ANGLE,...,0.0,0.0,2.0,0.0,17,6,7,41.975826,-87.650420,POINT (-87.650419778017 41.975826016449)
3,0362b3f8ddb8589dfe889356efbc2ad213efe2031556f0...,JF318271,NaN,07/15/2022 08:44:00 AM,30,NO CONTROLS,NO CONTROLS,RAIN,DAYLIGHT,REAR END,...,0.0,0.0,3.0,0.0,8,6,7,41.944199,-87.747157,POINT (-87.747157281564 41.944198992304)
4,03d3679ef44bb8aa0f2060cb0376f3eeb1d9dbb2197322...,JF318956,NaN,07/15/2022 04:10:00 PM,30,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,RAIN,DAYLIGHT,PEDESTRIAN,...,1.0,0.0,1.0,0.0,16,6,7,41.855974,-87.663860,POINT (-87.663860117648 41.855973928536)

In [5]:
crashes.shape

(643075, 49)

In [6]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643075 entries, 0 to 643074
Data columns (total 49 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                643075 non-null  object
 1   RD_NO                          639096 non-null  object
 2   CRASH_DATE_EST_I               48816 non-null   object
 3   CRASH_DATE                     643075 non-null  object
 4   POSTED_SPEED_LIMIT             643075 non-null  int64
 5   TRAFFIC_CONTROL_DEVICE         643075 non-null  object
 6   DEVICE_CONDITION               643075 non-null  object
 7   WEATHER_CONDITION              643075 non-null  object
 8   LIGHTING_CONDITION             643075 non-null  object
 9   FIRST_CRASH_TYPE               643075 non-null  object
 10  TRAFFICWAY_TYPE                643075 non-null  object
 11  LANE_CNT                       198990 non-null  float64
 12  ALIGNMENT                      643075 non-null  object
 13  ROADWAY_SURFACE_COND           643075 non-null  object
 14  ROAD_DEFECT                    643075 non-null  object
 15  REPORT_TYPE                    626026 non-null  object
 16  CRASH_TYPE                     643075 non-null  object
 17  INTERSECTION_RELATED_I         147110 non-null  object
 18  NOT_RIGHT_OF_WAY_I             30297 non-null   object
 19  HIT_AND_RUN_I                  198023 non-null  object
 20  DAMAGE                         643075 non-null  object
 21  DATE_POLICE_NOTIFIED           643075 non-null  object
 22  PRIM_CONTRIBUTORY_CAUSE        643075 non-null  object
 23  SEC_CONTRIBUTORY_CAUSE         643075 non-null  object
 24  STREET_NO                      643075 non-null  int64
 25  STREET_DIRECTION               643071 non-null  object
 26  STREET_NAME                    643074 non-null  object
 27  BEAT_OF_OCCURRENCE             643070 non-null  float64
 28  PHOTOS_TAKEN_I                 7913 non-null    object
 29  STATEMENTS_TAKEN_I             13198 non-null   object
 30  DOORING_I                      2013 non-null    object
 31  WORK_ZONE_I                    3825 non-null    object
 32  WORK_ZONE_TYPE                 3002 non-null    object
 33  WORKERS_PRESENT_I              972 non-null     object
 34  NUM_UNITS                      643075 non-null  int64
 35  MOST_SEVERE_INJURY             641710 non-null  object
 36  INJURIES_TOTAL                 641721 non-null  float64
 37  INJURIES_FATAL                 641721 non-null  float64
 38  INJURIES_INCAPACITATING        641721 non-null  float64
 39  INJURIES_NON_INCAPACITATING    641721 non-null  float64
 40  INJURIES_REPORTED_NOT_EVIDENT  641721 non-null  float64
 41  INJURIES_NO_INDICATION         641721 non-null  float64
 42  INJURIES_UNKNOWN               641721 non-null  float64
 43  CRASH_HOUR                     643075 non-null  int64
 44  CRASH_DAY_OF_WEEK              643075 non-null  int64
 45  CRASH_MONTH                    643075 non-null  int64
 46  LATITUDE                       639116 non-null  float64
 47  LONGITUDE                      639116 non-null  float64
 48  LOCATION                       639116 non-null  object
dtypes: float64(11), int64(6), object(32)
memory usage: 240.4+ MB

In [7]:
# all data types are object, int or float

In [8]:
crashes.describe()

,POSTED_SPEED_LIMIT,LANE_CNT,STREET_NO,BEAT_OF_OCCURRENCE,NUM_UNITS,INJURIES_TOTAL,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE
count,643075.000000,1.989900e+05,643075.000000,643070.000000,643075.000000,641721.000000,641721.000000,641721.000000,641721.000000,641721.000000,641721.000000,641721.0,643075.000000,643075.000000,643075.000000,639116.000000,639116.000000
mean,28.353324,1.333114e+01,3679.008766,1238.270918,2.034330,0.184465,0.001156,0.019896,0.103741,0.059671,2.009839,0.0,13.227376,4.126030,6.602992,41.854442,-87.673189
std,6.307755,2.961743e+03,2902.152690,705.607060,0.451205,0.557587,0.036971,0.164731,0.414922,0.314099,1.159724,0.0,5.546454,1.980984,3.384845,0.334011,0.678619
min,0.000000,0.000000e+00,0.000000,111.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,1.000000,0.000000,-87.936193
25%,30.000000,2.000000e+00,1230.000000,712.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,9.000000,2.000000,4.000000,41.781068,-87.721345
50%,30.000000,2.000000e+00,3200.000000,1135.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.0,14.000000,4.000000,7.000000,41.874541,-87.673565
75%,30.000000,4.000000e+00,5600.000000,1822.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.0,17.000000,6.000000,10.000000,41.923985,-87.632917
max,99.000000,1.191625e+06,451100.000000,6100.000000,18.000000,21.000000,4.000000,7.000000,21.000000,15.000000,61.000000,0.0,23.000000,7.000000,12.000000,42.022780,0.000000

### Dropping columns with high null counts

In [9]:
percent_missing = crashes.isnull().sum() * 100 / len(crashes)
crashes_null_values = pd.DataFrame({'column_name': crashes.columns,
                                    'percent_missing': percent_missing})
crashes_null_values.sort_values(by='percent_missing', ascending=False)

                                                 column_name  percent_missing
WORKERS_PRESENT_I                          WORKERS_PRESENT_I        99.848851
DOORING_I                                          DOORING_I        99.686973
WORK_ZONE_TYPE                                WORK_ZONE_TYPE        99.533180
WORK_ZONE_I                                      WORK_ZONE_I        99.405202
PHOTOS_TAKEN_I                                PHOTOS_TAKEN_I        98.769506
STATEMENTS_TAKEN_I                        STATEMENTS_TAKEN_I        97.947673
NOT_RIGHT_OF_WAY_I                        NOT_RIGHT_OF_WAY_I        95.288730
CRASH_DATE_EST_I                            CRASH_DATE_EST_I        92.408973
INTERSECTION_RELATED_I                INTERSECTION_RELATED_I        77.123975
HIT_AND_RUN_I                                  HIT_AND_RUN_I        69.206858
LANE_CNT                                            LANE_CNT        69.056486
REPORT_TYPE                                      REPORT_TYPE         2.651168
RD_NO                                                  RD_NO         0.618746
LOCATION                                            LOCATION         0.615636
LONGITUDE                                          LONGITUDE         0.615636
LATITUDE                                            LATITUDE         0.615636
MOST_SEVERE_INJURY                        MOST_SEVERE_INJURY         0.212261
INJURIES_INCAPACITATING              INJURIES_INCAPACITATING         0.210551
INJURIES_NON_INCAPACITATING      INJURIES_NON_INCAPACITATING         0.210551
INJURIES_UNKNOWN                            INJURIES_UNKNOWN         0.210551
INJURIES_NO_INDICATION                INJURIES_NO_INDICATION         0.210551
INJURIES_TOTAL                                INJURIES_TOTAL         0.210551
INJURIES_REPORTED_NOT_EVIDENT  INJURIES_REPORTED_NOT_EVIDENT         0.210551
INJURIES_FATAL                                INJURIES_FATAL         0.210551
BEAT_OF_OCCURRENCE                        BEAT_OF_OCCURRENCE         0.000778
STREET_DIRECTION                            STREET_DIRECTION         0.000622
STREET_NAME                                      STREET_NAME         0.000156
CRASH_HOUR                                        CRASH_HOUR         0.000000
CRASH_DAY_OF_WEEK                          CRASH_DAY_OF_WEEK         0.000000
CRASH_MONTH                                      CRASH_MONTH         0.000000
NUM_UNITS                                          NUM_UNITS         0.000000
CRASH_RECORD_ID                              CRASH_RECORD_ID         0.000000
SEC_CONTRIBUTORY_CAUSE                SEC_CONTRIBUTORY_CAUSE         0.000000
FIRST_CRASH_TYPE                            FIRST_CRASH_TYPE         0.000000
CRASH_DATE                                        CRASH_DATE         0.000000
POSTED_SPEED_LIMIT                        POSTED_SPEED_LIMIT         0.000000
TRAFFIC_CONTROL_DEVICE                TRAFFIC_CONTROL_DEVICE         0.000000
DEVICE_CONDITION                            DEVICE_CONDITION         0.000000
WEATHER_CONDITION                          WEATHER_CONDITION         0.000000
LIGHTING_CONDITION                        LIGHTING_CONDITION         0.000000
TRAFFICWAY_TYPE                              TRAFFICWAY_TYPE         0.000000
PRIM_CONTRIBUTORY_CAUSE              PRIM_CONTRIBUTORY_CAUSE         0.000000
ALIGNMENT                                          ALIGNMENT         0.000000
ROADWAY_SURFACE_COND                    ROADWAY_SURFACE_COND         0.000000
ROAD_DEFECT                                      ROAD_DEFECT         0.000000
CRASH_TYPE                                        CRASH_TYPE         0.000000
DAMAGE                                                DAMAGE         0.000000
DATE_POLICE_NOTIFIED                    DATE_POLICE_NOTIFIED         0.000000
STREET_NO                                          STREET_NO         0.000000

In [10]:
#columns with high null values (>70%) will be dropped.
#WORKERS_PRESENT_I
#DOORING_I
#WORK_ZONE_TYPE
#WORK_ZONE_I
#PHOTOS_TAKEN_I
#STATEMENTS_TAKEN_I
#NOT_RIGHT_OF_WAY_I
#CRASH_DATE_EST_I
#INTERSECTION_RELATED_I

In [11]:
crashes.drop(columns = ['WORKERS_PRESENT_I', 'DOORING_I','WORK_ZONE_TYPE',
                        'WORK_ZONE_I','PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 
                        'NOT_RIGHT_OF_WAY_I', 'CRASH_DATE_EST_I', 'INTERSECTION_RELATED_I'],
             inplace=True)

In [12]:
crashes.head()

,CRASH_RECORD_ID,RD_NO,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,0115ade9a755e835255508463f7e9c4a9a0b47e9304238...,JF318029,07/15/2022 12:45:00 AM,30,UNKNOWN,UNKNOWN,CLEAR,"DARKNESS, LIGHTED ROAD",ANGLE,NOT DIVIDED,...,0.0,0.0,2.0,0.0,0,6,7,41.886336,-87.716203,POINT (-87.716203130599 41.886336409761)
1,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,JF324552,07/15/2022 06:50:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,...,0.0,0.0,2.0,0.0,18,6,7,41.925111,-87.667997,POINT (-87.667997321599 41.925110815832)
2,01aaa759c6bbefd0f584226fbd88bdc549de3ed1e46255...,JF319819,07/15/2022 05:10:00 PM,40,NO CONTROLS,NO CONTROLS,CLOUDY/OVERCAST,DAYLIGHT,ANGLE,DIVIDED - W/MEDIAN BARRIER,...,0.0,0.0,2.0,0.0,17,6,7,41.975826,-87.650420,POINT (-87.650419778017 41.975826016449)
3,0362b3f8ddb8589dfe889356efbc2ad213efe2031556f0...,JF318271,07/15/2022 08:44:00 AM,30,NO CONTROLS,NO CONTROLS,RAIN,DAYLIGHT,REAR END,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,0.0,3.0,0.0,8,6,7,41.944199,-87.747157,POINT (-87.747157281564 41.944198992304)
4,03d3679ef44bb8aa0f2060cb0376f3eeb1d9dbb2197322...,JF318956,07/15/2022 04:10:00 PM,30,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,RAIN,DAYLIGHT,PEDESTRIAN,FOUR WAY,...,1.0,0.0,1.0,0.0,16,6,7,41.855974,-87.663860,POINT (-87.663860117648 41.855973928536)

In [13]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643075 entries, 0 to 643074
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                643075 non-null  object
 1   RD_NO                          639096 non-null  object
 2   CRASH_DATE                     643075 non-null  object
 3   POSTED_SPEED_LIMIT             643075 non-null  int64
 4   TRAFFIC_CONTROL_DEVICE         643075 non-null  object
 5   DEVICE_CONDITION               643075 non-null  object
 6   WEATHER_CONDITION              643075 non-null  object
 7   LIGHTING_CONDITION             643075 non-null  object
 8   FIRST_CRASH_TYPE               643075 non-null  object
 9   TRAFFICWAY_TYPE                643075 non-null  object
 10  LANE_CNT                       198990 non-null  float64
 11  ALIGNMENT                      643075 non-null  object
 12  ROADWAY_SURFACE_COND           643075 non-null  object
 13  ROAD_DEFECT                    643075 non-null  object
 14  REPORT_TYPE                    626026 non-null  object
 15  CRASH_TYPE                     643075 non-null  object
 16  HIT_AND_RUN_I                  198023 non-null  object
 17  DAMAGE                         643075 non-null  object
 18  DATE_POLICE_NOTIFIED           643075 non-null  object
 19  PRIM_CONTRIBUTORY_CAUSE        643075 non-null  object
 20  SEC_CONTRIBUTORY_CAUSE         643075 non-null  object
 21  STREET_NO                      643075 non-null  int64
 22  STREET_DIRECTION               643071 non-null  object
 23  STREET_NAME                    643074 non-null  object
 24  BEAT_OF_OCCURRENCE             643070 non-null  float64
 25  NUM_UNITS                      643075 non-null  int64
 26  MOST_SEVERE_INJURY             641710 non-null  object
 27  INJURIES_TOTAL                 641721 non-null  float64
 28  INJURIES_FATAL                 641721 non-null  float64
 29  INJURIES_INCAPACITATING        641721 non-null  float64
 30  INJURIES_NON_INCAPACITATING    641721 non-null  float64
 31  INJURIES_REPORTED_NOT_EVIDENT  641721 non-null  float64
 32  INJURIES_NO_INDICATION         641721 non-null  float64
 33  INJURIES_UNKNOWN               641721 non-null  float64
 34  CRASH_HOUR                     643075 non-null  int64
 35  CRASH_DAY_OF_WEEK              643075 non-null  int64
 36  CRASH_MONTH                    643075 non-null  int64
 37  LATITUDE                       639116 non-null  float64
 38  LONGITUDE                      639116 non-null  float64
 39  LOCATION                       639116 non-null  object
dtypes: float64(11), int64(6), object(23)
memory usage: 196.3+ MB

### Dropping Irrelavant Columns 
We want to keep columns that will help us predict the causes of an accident. This decision was based the description of the columns from the City of Chicago website.

In [14]:
crash_rc = [
    'CRASH_RECORD_ID', 
    'CRASH_DATE', 
    'POSTED_SPEED_LIMIT', 
    'DEVICE_CONDITION', 
    'WEATHER_CONDITION', 
    'LIGHTING_CONDITION',
    'FIRST_CRASH_TYPE',
    'TRAFFICWAY_TYPE',
    'ALIGNMENT',
    'ROADWAY_SURFACE_COND',
    'ROAD_DEFECT',
    'PRIM_CONTRIBUTORY_CAUSE',
    'SEC_CONTRIBUTORY_CAUSE',
    'INJURIES_TOTAL',
    'INJURIES_FATAL',
    'CRASH_HOUR', 
    'CRASH_DAY_OF_WEEK',
    'CRASH_MONTH',
    'LATITUDE',
    'LONGITUDE']
crashes = crashes[crash_rc]

In [15]:
crashes.head()

,CRASH_RECORD_ID,CRASH_DATE,POSTED_SPEED_LIMIT,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ALIGNMENT,ROADWAY_SURFACE_COND,ROAD_DEFECT,PRIM_CONTRIBUTORY_CAUSE,SEC_CONTRIBUTORY_CAUSE,INJURIES_TOTAL,INJURIES_FATAL,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE
0,0115ade9a755e835255508463f7e9c4a9a0b47e9304238...,07/15/2022 12:45:00 AM,30,UNKNOWN,CLEAR,"DARKNESS, LIGHTED ROAD",ANGLE,NOT DIVIDED,STRAIGHT AND LEVEL,DRY,UNKNOWN,UNABLE TO DETERMINE,UNABLE TO DETERMINE,0.0,0.0,0,6,7,41.886336,-87.716203
1,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,07/15/2022 06:50:00 PM,30,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,DRY,NO DEFECTS,UNABLE TO DETERMINE,UNABLE TO DETERMINE,0.0,0.0,18,6,7,41.925111,-87.667997
2,01aaa759c6bbefd0f584226fbd88bdc549de3ed1e46255...,07/15/2022 05:10:00 PM,40,NO CONTROLS,CLOUDY/OVERCAST,DAYLIGHT,ANGLE,DIVIDED - W/MEDIAN BARRIER,STRAIGHT AND LEVEL,DRY,NO DEFECTS,IMPROPER LANE USAGE,NOT APPLICABLE,0.0,0.0,17,6,7,41.975826,-87.650420
3,0362b3f8ddb8589dfe889356efbc2ad213efe2031556f0...,07/15/2022 08:44:00 AM,30,NO CONTROLS,RAIN,DAYLIGHT,REAR END,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,WET,NO DEFECTS,UNABLE TO DETERMINE,UNABLE TO DETERMINE,0.0,0.0,8,6,7,41.944199,-87.747157
4,03d3679ef44bb8aa0f2060cb0376f3eeb1d9dbb2197322...,07/15/2022 04:10:00 PM,30,FUNCTIONING PROPERLY,RAIN,DAYLIGHT,PEDESTRIAN,FOUR WAY,STRAIGHT AND LEVEL,WET,NO DEFECTS,FAILING TO YIELD RIGHT-OF-WAY,UNABLE TO DETERMINE,1.0,0.0,16,6,7,41.855974,-87.663860

***

### Vehicle Dataset

In [16]:
# # from Kevin Rivera
# from zipfile import ZipFile
# # specifying the zip file name
# file_name = "./Traffic_Crashes_Vehicles.csv.zip"
# # opening the zip file in READ mode
# with ZipFile(file_name, 'r') as zip:
#     # printing all the contents of the zip file
#     zip.printdir()
#     # extracting all the files
#     print('Extracting all the files now...')
#     # extract data to the same directory as the other data
#     zip.extractall(path='./zippedData')
#     print('Done!')

In [17]:
vehicles = pd.read_csv('../CarCrashData/Traffic_Crashes_Vehicles.csv', low_memory=False)
vehicles.head()

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,829999,24ddf9fd8542199d832e1c223cc474e5601b356f1d77a6...,JD124535,01/22/2020 06:25:00 AM,1,DRIVER,NaN,796949.0,NaN,INFINITI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,749947,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,1,DRIVER,NaN,834816.0,NaN,HONDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,749949,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,2,PARKED,NaN,834819.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,749950,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,3,PARKED,NaN,834817.0,NaN,GENERAL MOTORS CORPORATION (GMC),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,871921,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,JD208731,04/13/2020 10:50:00 PM,2,DRIVER,NaN,827212.0,NaN,BUICK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
vehicles.shape

(1310508, 72)

In [19]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310508 entries, 0 to 1310507
Data columns (total 72 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CRASH_UNIT_ID             1310508 non-null  int64
 1   CRASH_RECORD_ID           1310508 non-null  object
 2   RD_NO                     1302413 non-null  object
 3   CRASH_DATE                1310508 non-null  object
 4   UNIT_NO                   1310508 non-null  int64
 5   UNIT_TYPE                 1308666 non-null  object
 6   NUM_PASSENGERS            194875 non-null   float64
 7   VEHICLE_ID                1280912 non-null  float64
 8   CMRC_VEH_I                24428 non-null    object
 9   MAKE                      1280907 non-null  object
 10  MODEL                     1280763 non-null  object
 11  LIC_PLATE_STATE           1165456 non-null  object
 12  VEHICLE_YEAR              1072167 non-null  float64
 13  VEHICLE_DEFECT            1280912 non-null  object
 14  VEHICLE_TYPE              1280912 non-null  object
 15  VEHICLE_USE               1280912 non-null  object
 16  TRAVEL_DIRECTION          1280912 non-null  object
 17  MANEUVER                  1280912 non-null  object
 18  TOWED_I                   158821 non-null   object
 19  FIRE_I                    1042 non-null     object
 20  OCCUPANT_CNT              1280912 non-null  float64
 21  EXCEED_SPEED_LIMIT_I      2397 non-null     object
 22  TOWED_BY                  118011 non-null   object
 23  TOWED_TO                  72662 non-null    object
 24  AREA_00_I                 47179 non-null    object
 25  AREA_01_I                 345019 non-null   object
 26  AREA_02_I                 213001 non-null   object
 27  AREA_03_I                 124254 non-null   object
 28  AREA_04_I                 126575 non-null   object
 29  AREA_05_I                 195613 non-null   object
 30  AREA_06_I                 202194 non-null   object
 31  AREA_07_I                 181038 non-null   object
 32  AREA_08_I                 199909 non-null   object
 33  AREA_09_I                 74164 non-null    object
 34  AREA_10_I                 106994 non-null   object
 35  AREA_11_I                 210077 non-null   object
 36  AREA_12_I                 207062 non-null   object
 37  AREA_99_I                 143619 non-null   object
 38  FIRST_CONTACT_POINT       1269789 non-null  object
 39  CMV_ID                    13755 non-null    float64
 40  USDOT_NO                  7905 non-null     object
 41  CCMC_NO                   1717 non-null     object
 42  ILCC_NO                   1212 non-null     object
 43  COMMERCIAL_SRC            9411 non-null     object
 44  GVWR                      7856 non-null     object
 45  CARRIER_NAME              13155 non-null    object
 46  CARRIER_STATE             12405 non-null    object
 47  CARRIER_CITY              12184 non-null    object
 48  HAZMAT_PLACARDS_I         273 non-null      object
 49  HAZMAT_NAME               51 non-null       object
 50  UN_NO                     480 non-null      object
 51  HAZMAT_PRESENT_I          10093 non-null    object
 52  HAZMAT_REPORT_I           9787 non-null     object
 53  HAZMAT_REPORT_NO          1 non-null        object
 54  MCS_REPORT_I              9846 non-null     object
 55  MCS_REPORT_NO             6 non-null        object
 56  HAZMAT_VIO_CAUSE_CRASH_I  9944 non-null     object
 57  MCS_VIO_CAUSE_CRASH_I     9762 non-null     object
 58  IDOT_PERMIT_NO            784 non-null      object
 59  WIDE_LOAD_I               121 non-null      object
 60  TRAILER1_WIDTH            2545 non-null     object
 61  TRAILER2_WIDTH            298 non-null      object
 62  TRAILER1_LENGTH           2096 non-null     float64
 63  TRAILER2_LENGTH           58 non-null       float64
 64  TOTAL_VEHICLE_LENGTH      2547 non-null     float64
 65  AXLE_CNT                  3738 non-null     float64
 66  VEHICLE_CONFIG            11425 non-null    object
 67  CARGO_BODY_TYPE           10929 non-null    object
 68  LOAD_TYPE                 10439 non-null    object
 69  HAZMAT_OUT_OF_SERVICE_I   9496 non-null     object
 70  MCS_OUT_OF_SERVICE_I      9743 non-null     object
 71  HAZMAT_CLASS              921 non-null      object
dtypes: float64(9), int64(2), object(61)
memory usage: 719.9+ MB

In [20]:
vehicles.describe()

,CRASH_UNIT_ID,UNIT_NO,NUM_PASSENGERS,VEHICLE_ID,VEHICLE_YEAR,OCCUPANT_CNT,CMV_ID,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT
count,1.310508e+06,1.310508e+06,194875.000000,1.280912e+06,1.072167e+06,1.280912e+06,13755.000000,2096.000000,58.000000,2547.000000,3738.000000
mean,7.004904e+05,4.446720e+00,1.471174,6.664611e+05,2.013581e+03,1.079832e+00,7676.348964,48.527195,44.517241,53.125245,10.701980
std,4.064380e+05,3.300243e+03,1.049482,3.844537e+05,1.440080e+02,7.843180e-01,4453.821184,21.564827,28.649265,32.022755,425.355581
min,2.000000e+00,0.000000e+00,1.000000,2.000000e+00,1.900000e+03,0.000000e+00,1.000000,1.000000,2.000000,1.000000,1.000000
25%,3.470888e+05,1.000000e+00,1.000000,3.338198e+05,2.006000e+03,1.000000e+00,3799.500000,45.000000,24.250000,35.000000,2.000000
50%,7.016955e+05,2.000000e+00,1.000000,6.669690e+05,2.012000e+03,1.000000e+00,7695.000000,53.000000,48.000000,53.000000,3.000000
75%,1.053070e+06,2.000000e+00,2.000000,9.989482e+05,2.016000e+03,1.000000e+00,11549.500000,53.000000,53.000000,65.000000,5.000000
max,1.403472e+06,3.778035e+06,59.000000,1.333658e+06,9.999000e+03,9.900000e+01,15365.000000,740.000000,123.000000,999.000000,26009.000000

### Dropping Columns with high null values

In [21]:
percent_missing2 = vehicles.isnull().sum() * 100 / len(vehicles)
vehicles_null_values = pd.DataFrame({'column_name': vehicles.columns,'percent_missing': percent_missing2})
vehicles_null_values.sort_values(by='percent_missing', ascending=False)

                       column_name  percent_missing
HAZMAT_REPORT_NO  HAZMAT_REPORT_NO        99.999924
MCS_REPORT_NO        MCS_REPORT_NO        99.999542
HAZMAT_NAME            HAZMAT_NAME        99.996108
TRAILER2_LENGTH    TRAILER2_LENGTH        99.995574
WIDE_LOAD_I            WIDE_LOAD_I        99.990767
...                            ...              ...
UNIT_TYPE                UNIT_TYPE         0.140556
CRASH_RECORD_ID    CRASH_RECORD_ID         0.000000
UNIT_NO                    UNIT_NO         0.000000
CRASH_DATE              CRASH_DATE         0.000000
CRASH_UNIT_ID        CRASH_UNIT_ID         0.000000

[72 rows x 2 columns]

In [22]:
relevant_columns = [    
 'CRASH_UNIT_ID',
 'CRASH_RECORD_ID',    
 'RD_NO',  
 'CRASH_DATE',  
 'UNIT_NO',    
 'UNIT_TYPE',    
 'VEHICLE_ID', 
 'MAKE',
 'MODEL',
 'LIC_PLATE_STATE',
 'VEHICLE_YEAR',
 'VEHICLE_DEFECT',
 'VEHICLE_TYPE',
 'VEHICLE_USE',
 'TRAVEL_DIRECTION',
 'MANEUVER',
 'OCCUPANT_CNT',
 'FIRST_CONTACT_POINT',
]
vehicles = vehicles[relevant_columns]

In [23]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310508 entries, 0 to 1310507
Data columns (total 18 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   CRASH_UNIT_ID        1310508 non-null  int64
 1   CRASH_RECORD_ID      1310508 non-null  object
 2   RD_NO                1302413 non-null  object
 3   CRASH_DATE           1310508 non-null  object
 4   UNIT_NO              1310508 non-null  int64
 5   UNIT_TYPE            1308666 non-null  object
 6   VEHICLE_ID           1280912 non-null  float64
 7   MAKE                 1280907 non-null  object
 8   MODEL                1280763 non-null  object
 9   LIC_PLATE_STATE      1165456 non-null  object
 10  VEHICLE_YEAR         1072167 non-null  float64
 11  VEHICLE_DEFECT       1280912 non-null  object
 12  VEHICLE_TYPE         1280912 non-null  object
 13  VEHICLE_USE          1280912 non-null  object
 14  TRAVEL_DIRECTION     1280912 non-null  object
 15  MANEUVER             1280912 non-null  object
 16  OCCUPANT_CNT         1280912 non-null  float64
 17  FIRST_CONTACT_POINT  1269789 non-null  object
dtypes: float64(3), int64(2), object(13)
memory usage: 180.0+ MB

In [24]:
#columns dropped had more than 70% missing values

### Dropping Irrelevant Columns

In [25]:
vehicle_rc = [
    'CRASH_UNIT_ID',
    'CRASH_RECORD_ID',
    'CRASH_DATE',
    'UNIT_NO',
    'UNIT_TYPE',
    'VEHICLE_ID',
    'MAKE',
    'MODEL',
    'LIC_PLATE_STATE',
    'VEHICLE_YEAR',
    'VEHICLE_DEFECT',
    'VEHICLE_TYPE',
    'VEHICLE_USE',
    'TRAVEL_DIRECTION',
    'MANEUVER',
    'OCCUPANT_CNT',
]

vehicles = vehicles[vehicle_rc]

In [26]:
vehicles.head()

,CRASH_UNIT_ID,CRASH_RECORD_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,VEHICLE_ID,MAKE,MODEL,LIC_PLATE_STATE,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT
0,829999,24ddf9fd8542199d832e1c223cc474e5601b356f1d77a6...,01/22/2020 06:25:00 AM,1,DRIVER,796949.0,INFINITI,UNKNOWN,IL,2017.0,NONE,PASSENGER,PERSONAL,N,STRAIGHT AHEAD,1.0
1,749947,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,09/28/2019 03:30:00 AM,1,DRIVER,834816.0,HONDA,CIVIC,IL,2016.0,UNKNOWN,PASSENGER,PERSONAL,N,STRAIGHT AHEAD,1.0
2,749949,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,09/28/2019 03:30:00 AM,2,PARKED,834819.0,TOYOTA,YARIS,IL,2010.0,NONE,UNKNOWN/NA,PERSONAL,N,PARKED,0.0
3,749950,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,09/28/2019 03:30:00 AM,3,PARKED,834817.0,GENERAL MOTORS CORPORATION (GMC),SIERRA,IL,2008.0,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,N,PARKED,0.0
4,871921,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,04/13/2020 10:50:00 PM,2,DRIVER,827212.0,BUICK,ENCORE,IL,NaN,NONE,PASSENGER,PERSONAL,W,STRAIGHT AHEAD,1.0

***

### People Dataset

In [27]:
# # from Kevin Rivera
# from zipfile import ZipFile
# # specifying the zip file name
# file_name = "./Traffic_Crashes_People.csv.zip"
# # opening the zip file in READ mode
# with ZipFile(file_name, 'r') as zip:
#     # printing all the contents of the zip file
#     zip.printdir()
#     # extracting all the files
#     print('Extracting all the files now...')
#     # extract data to the same directory as the other data
#     zip.extractall(path='./zippedData')
#     print('Done!')

In [28]:
people = pd.read_csv('../CarCrashData/Traffic_Crashes_People.csv', low_memory = False)
people.head()

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O749947,DRIVER,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,834816.0,09/28/2019 03:30:00 AM,NaN,CHICAGO,IL,60651,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O871921,DRIVER,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,JD208731,827212.0,04/13/2020 10:50:00 PM,NaN,CHICAGO,IL,60620,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O10018,DRIVER,71162af7bf22799b776547132ebf134b5b438dcf3dac6b...,HY484534,9579.0,11/01/2015 05:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,IMPROPER BACKING,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,O10038,DRIVER,c21c476e2ccc41af550b5d858d22aaac4ffc88745a1700...,HY484750,9598.0,11/01/2015 08:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,O10039,DRIVER,eb390a4c8e114c69488f5fb8a097fe629f5a92fd528cf4...,HY484778,9600.0,11/01/2015 10:15:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN

In [29]:
people.shape

(1411302, 30)

In [30]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1411302 entries, 0 to 1411301
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1411302 non-null  object
 1   PERSON_TYPE            1411302 non-null  object
 2   CRASH_RECORD_ID        1411302 non-null  object
 3   RD_NO                  1402786 non-null  object
 4   VEHICLE_ID             1383689 non-null  float64
 5   CRASH_DATE             1411302 non-null  object
 6   SEAT_NO                286695 non-null   float64
 7   CITY                   1032365 non-null  object
 8   STATE                  1045620 non-null  object
 9   ZIPCODE                943216 non-null   object
 10  SEX                    1389569 non-null  object
 11  AGE                    1002324 non-null  float64
 12  DRIVERS_LICENSE_STATE  830404 non-null   object
 13  DRIVERS_LICENSE_CLASS  706269 non-null   object
 14  SAFETY_EQUIPMENT       1407276 non-null  object
 15  AIRBAG_DEPLOYED        1384813 non-null  object
 16  EJECTION               1394291 non-null  object
 17  INJURY_CLASSIFICATION  1410679 non-null  object
 18  HOSPITAL               247011 non-null   object
 19  EMS_AGENCY             154288 non-null   object
 20  EMS_RUN_NO             25294 non-null    object
 21  DRIVER_ACTION          1122032 non-null  object
 22  DRIVER_VISION          1121621 non-null  object
 23  PHYSICAL_CONDITION     1122820 non-null  object
 24  PEDPEDAL_ACTION        26099 non-null    object
 25  PEDPEDAL_VISIBILITY    26046 non-null    object
 26  PEDPEDAL_LOCATION      26096 non-null    object
 27  BAC_RESULT             1123055 non-null  object
 28  BAC_RESULT VALUE       1726 non-null     float64
 29  CELL_PHONE_USE         1157 non-null     object
dtypes: float64(4), object(26)
memory usage: 323.0+ MB

In [31]:
people.describe()

         VEHICLE_ID        SEAT_NO           AGE  BAC_RESULT VALUE
count  1.383689e+06  286695.000000  1.002324e+06       1726.000000
mean   6.615749e+05       4.160526  3.780826e+01          0.168662
std    3.832647e+05       2.196837  1.710068e+01          0.102762
min    2.000000e+00       1.000000 -1.770000e+02          0.000000
25%    3.317300e+05       3.000000  2.500000e+01          0.120000
50%    6.573470e+05       3.000000  3.500000e+01          0.170000
75%    9.928570e+05       5.000000  5.000000e+01          0.217500
max    1.333658e+06      12.000000  1.100000e+02          1.000000

### Dropping columns with high null values

In [32]:
percent_missing3 = people.isnull().sum() * 100 / len(people)
people_null_values = pd.DataFrame({'column_name': people.columns,'percent_missing': percent_missing3})
people_null_values.sort_values(by='percent_missing', ascending=False)

                                 column_name  percent_missing
CELL_PHONE_USE                CELL_PHONE_USE        99.918019
BAC_RESULT VALUE            BAC_RESULT VALUE        99.877702
EMS_RUN_NO                        EMS_RUN_NO        98.207754
PEDPEDAL_VISIBILITY      PEDPEDAL_VISIBILITY        98.154470
PEDPEDAL_LOCATION          PEDPEDAL_LOCATION        98.150927
PEDPEDAL_ACTION              PEDPEDAL_ACTION        98.150715
EMS_AGENCY                        EMS_AGENCY        89.067684
HOSPITAL                            HOSPITAL        82.497651
SEAT_NO                              SEAT_NO        79.685780
DRIVERS_LICENSE_CLASS  DRIVERS_LICENSE_CLASS        49.956211
DRIVERS_LICENSE_STATE  DRIVERS_LICENSE_STATE        41.160432
ZIPCODE                              ZIPCODE        33.166962
AGE                                      AGE        28.978773
CITY                                    CITY        26.850171
STATE                                  STATE        25.910967
DRIVER_VISION                  DRIVER_VISION        20.525798
DRIVER_ACTION                  DRIVER_ACTION        20.496676
PHYSICAL_CONDITION        PHYSICAL_CONDITION        20.440841
BAC_RESULT                        BAC_RESULT        20.424190
VEHICLE_ID                        VEHICLE_ID         1.956562
AIRBAG_DEPLOYED              AIRBAG_DEPLOYED         1.876919
SEX                                      SEX         1.539926
EJECTION                            EJECTION         1.205341
RD_NO                                  RD_NO         0.603414
SAFETY_EQUIPMENT            SAFETY_EQUIPMENT         0.285268
INJURY_CLASSIFICATION  INJURY_CLASSIFICATION         0.044144
PERSON_TYPE                      PERSON_TYPE         0.000000
CRASH_DATE                        CRASH_DATE         0.000000
CRASH_RECORD_ID              CRASH_RECORD_ID         0.000000
PERSON_ID                          PERSON_ID         0.000000

In [33]:
people.drop(columns = ['CELL_PHONE_USE', 'BAC_RESULT VALUE','EMS_RUN_NO',
                      'PEDPEDAL_VISIBILITY', 'PEDPEDAL_LOCATION', 'PEDPEDAL_ACTION',
                      'EMS_AGENCY', 'HOSPITAL', 'SEAT_NO'],
             inplace=True)

In [34]:
people.head()

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO,VEHICLE_ID,CRASH_DATE,CITY,STATE,ZIPCODE,SEX,...,DRIVERS_LICENSE_STATE,DRIVERS_LICENSE_CLASS,SAFETY_EQUIPMENT,AIRBAG_DEPLOYED,EJECTION,INJURY_CLASSIFICATION,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,BAC_RESULT
0,O749947,DRIVER,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,834816.0,09/28/2019 03:30:00 AM,CHICAGO,IL,60651,M,...,IL,D,NONE PRESENT,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,UNKNOWN,UNKNOWN,UNKNOWN,TEST NOT OFFERED
1,O871921,DRIVER,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,JD208731,827212.0,04/13/2020 10:50:00 PM,CHICAGO,IL,60620,M,...,IL,NaN,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NONE,NOT OBSCURED,NORMAL,TEST NOT OFFERED
2,O10018,DRIVER,71162af7bf22799b776547132ebf134b5b438dcf3dac6b...,HY484534,9579.0,11/01/2015 05:00:00 AM,NaN,NaN,NaN,X,...,NaN,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,IMPROPER BACKING,UNKNOWN,UNKNOWN,TEST NOT OFFERED
3,O10038,DRIVER,c21c476e2ccc41af550b5d858d22aaac4ffc88745a1700...,HY484750,9598.0,11/01/2015 08:00:00 AM,NaN,NaN,NaN,X,...,NaN,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,UNKNOWN,NO INDICATION OF INJURY,UNKNOWN,UNKNOWN,UNKNOWN,TEST NOT OFFERED
4,O10039,DRIVER,eb390a4c8e114c69488f5fb8a097fe629f5a92fd528cf4...,HY484778,9600.0,11/01/2015 10:15:00 AM,NaN,NaN,NaN,X,...,NaN,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,UNKNOWN,NO INDICATION OF INJURY,UNKNOWN,UNKNOWN,UNKNOWN,TEST NOT OFFERED

In [35]:
# all dropped columns were missing more than 70% of data

### Dropping Irrelevant Columns

In [36]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1411302 entries, 0 to 1411301
Data columns (total 21 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1411302 non-null  object
 1   PERSON_TYPE            1411302 non-null  object
 2   CRASH_RECORD_ID        1411302 non-null  object
 3   RD_NO                  1402786 non-null  object
 4   VEHICLE_ID             1383689 non-null  float64
 5   CRASH_DATE             1411302 non-null  object
 6   CITY                   1032365 non-null  object
 7   STATE                  1045620 non-null  object
 8   ZIPCODE                943216 non-null   object
 9   SEX                    1389569 non-null  object
 10  AGE                    1002324 non-null  float64
 11  DRIVERS_LICENSE_STATE  830404 non-null   object
 12  DRIVERS_LICENSE_CLASS  706269 non-null   object
 13  SAFETY_EQUIPMENT       1407276 non-null  object
 14  AIRBAG_DEPLOYED        1384813 non-null  object
 15  EJECTION               1394291 non-null  object
 16  INJURY_CLASSIFICATION  1410679 non-null  object
 17  DRIVER_ACTION          1122032 non-null  object
 18  DRIVER_VISION          1121621 non-null  object
 19  PHYSICAL_CONDITION     1122820 non-null  object
 20  BAC_RESULT             1123055 non-null  object
dtypes: float64(2), object(19)
memory usage: 226.1+ MB

In [37]:
people_rc = [
    'PERSON_ID',
    'PERSON_TYPE',
    'CRASH_RECORD_ID',
    'VEHICLE_ID',
    'CRASH_DATE',
    'CITY',
    'STATE',
    'ZIPCODE',
    'SEX',
    'AGE',
    'DRIVERS_LICENSE_STATE',
    'DRIVERS_LICENSE_CLASS',
    'SAFETY_EQUIPMENT',
    'AIRBAG_DEPLOYED',
    'INJURY_CLASSIFICATION',
    'DRIVER_ACTION',
    'DRIVER_VISION',
    'PHYSICAL_CONDITION',
]

people = people[people_rc]

***

##  Combining the Data

As stated by the City of Chicago's website, the three datasets should be used in conjunction with one another. Therefore I will need to merge them into one data frame. **Crash Record ID** is a consistent identifier for each table and will be merged on this column.
- **Crash Record ID:** This number can be used to link to the same crash in the Crashes and Vehicles datasets. This number also serves as a unique ID in the Crashes dataset.

In [38]:
merged1 = pd.merge(left=crashes, right=vehicles, on='CRASH_RECORD_ID')

In [39]:
merged1.head()

,CRASH_RECORD_ID,CRASH_DATE_x,POSTED_SPEED_LIMIT,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ALIGNMENT,ROADWAY_SURFACE_COND,...,MAKE,MODEL,LIC_PLATE_STATE,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT
0,0115ade9a755e835255508463f7e9c4a9a0b47e9304238...,07/15/2022 12:45:00 AM,30,UNKNOWN,CLEAR,"DARKNESS, LIGHTED ROAD",ANGLE,NOT DIVIDED,STRAIGHT AND LEVEL,DRY,...,HYUNDAI,OTHER (EXPLAIN IN NARRATIVE),NaN,NaN,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,W,UNKNOWN/NA,1.0
1,0115ade9a755e835255508463f7e9c4a9a0b47e9304238...,07/15/2022 12:45:00 AM,30,UNKNOWN,CLEAR,"DARKNESS, LIGHTED ROAD",ANGLE,NOT DIVIDED,STRAIGHT AND LEVEL,DRY,...,GENERAL MOTORS CORPORATION (GMC),OTHER (EXPLAIN IN NARRATIVE),IL,2015.0,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,N,STRAIGHT AHEAD,1.0
2,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,07/15/2022 06:50:00 PM,30,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,DRY,...,DODGE,JOURNEY,IL,2017.0,NONE,PASSENGER,PERSONAL,S,SLOW/STOP IN TRAFFIC,1.0
3,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,07/15/2022 06:50:00 PM,30,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,DRY,...,HONDA,HR-V,IL,2019.0,UNKNOWN,PASSENGER,PERSONAL,S,SLOW/STOP IN TRAFFIC,1.0
4,01aaa759c6bbefd0f584226fbd88bdc549de3ed1e46255...,07/15/2022 05:10:00 PM,40,NO CONTROLS,CLOUDY/OVERCAST,DAYLIGHT,ANGLE,DIVIDED - W/MEDIAN BARRIER,STRAIGHT AND LEVEL,DRY,...,HONDA,CIVIC,PA,2008.0,NONE,PASSENGER,PERSONAL,NE,CHANGING LANES,1.0

In [40]:
merged1.shape

(1310508, 35)

### merging with people

In [41]:
merged2 = pd.merge(left=merged1, right=people, on='CRASH_RECORD_ID')

In [42]:
merged2.shape

(2958845, 52)

In [43]:
merged2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2958845 entries, 0 to 2958844
Data columns (total 52 columns):
 #   Column                   Dtype
---  ------                   -----
 0   CRASH_RECORD_ID          object
 1   CRASH_DATE_x             object
 2   POSTED_SPEED_LIMIT       int64
 3   DEVICE_CONDITION         object
 4   WEATHER_CONDITION        object
 5   LIGHTING_CONDITION       object
 6   FIRST_CRASH_TYPE         object
 7   TRAFFICWAY_TYPE          object
 8   ALIGNMENT                object
 9   ROADWAY_SURFACE_COND     object
 10  ROAD_DEFECT              object
 11  PRIM_CONTRIBUTORY_CAUSE  object
 12  SEC_CONTRIBUTORY_CAUSE   object
 13  INJURIES_TOTAL           float64
 14  INJURIES_FATAL           float64
 15  CRASH_HOUR               int64
 16  CRASH_DAY_OF_WEEK        int64
 17  CRASH_MONTH              int64
 18  LATITUDE                 float64
 19  LONGITUDE                float64
 20  CRASH_UNIT_ID            int64
 21  CRASH_DATE_y             object
 22  UNIT_NO                  int64
 23  UNIT_TYPE                object
 24  VEHICLE_ID_x             float64
 25  MAKE                     object
 26  MODEL                    object
 27  LIC_PLATE_STATE          object
 28  VEHICLE_YEAR             float64
 29  VEHICLE_DEFECT           object
 30  VEHICLE_TYPE             object
 31  VEHICLE_USE              object
 32  TRAVEL_DIRECTION         object
 33  MANEUVER                 object
 34  OCCUPANT_CNT             float64
 35  PERSON_ID                object
 36  PERSON_TYPE              object
 37  VEHICLE_ID_y             float64
 38  CRASH_DATE               object
 39  CITY                     object
 40  STATE                    object
 41  ZIPCODE                  object
 42  SEX                      object
 43  AGE                      float64
 44  DRIVERS_LICENSE_STATE    object
 45  DRIVERS_LICENSE_CLASS    object
 46  SAFETY_EQUIPMENT         object
 47  AIRBAG_DEPLOYED          object
 48  INJURY_CLASSIFICATION    object
 49  DRIVER_ACTION            object
 50  DRIVER_VISION            object
 51  PHYSICAL_CONDITION       object
dtypes: float64(9), int64(6), object(37)
memory usage: 1.2+ GB

In [44]:
# dropping duplicate columns

In [45]:
merged2.drop(columns=['CRASH_DATE_y','VEHICLE_ID_y'], inplace=True)

In [46]:
merged2.drop(columns=['CRASH_DATE'], inplace=True)

In [47]:
merged2.shape

(2958845, 49)

There are still too many features and several will need to be binned (age, time of day, weather...).
The problem I am addressing is "how to decrease injuries" so certain features may still be irrelevant. Based on further research I will also drop the following columns: 
- **ALIGNMENT**: 97% were straight and level
- **ROAD_DEFECT**: 83% were none and 15% unknown
- **SEC_CONTRIBUTORY_CAUSE**: 73% were n/a or unable to determine
- **MAKE**: maker of car not relevant
- **MODEL**: model of car not relevant 
- **LIC_PLATE_STATE**: 91% from IL, not relevant
- **VEHICLE_DEFECT**: 98% either none or unknown
- **TRAVEL_DIRECTION**: entered by officer, not relevant
- **PERSON_ID**: not relevant, record is captured by CRASH_ID
- **CITY**: not relevant as it refers to where the people lived, all crashes occured in Chicago
- **STATE**: not relevant as it refers to where the people lived, all crashes occured in Chicago
- **ZIPCODE**: not relevant as it refers to where the people lived, all crashes occured in Chicago
- **DRIVERS_LICENSE_STATE**: not relevant as it refers to where the people lived, all crashes occured in Chicago
- **DRIVERS_LICENSE_CLASS**: not relevant as it refers to where the people lived, all crashes occured in Chicago
- **INJURY_CLASSIFICATION**: redundant
- **DRIVER_ACTION**: subjective, reported by officer
- **VEHICLE_ID**: not relevant, record is captured by CRASH_ID
- **PHYSICAL_CONDITION**: 91% none or unknown
- **PRIM_CONTRIBUTORY_CAUSE**: subjective, given by officer

In [48]:
merged2.drop(columns=[
    'ALIGNMENT', 'ROAD_DEFECT', 'SEC_CONTRIBUTORY_CAUSE', 'MAKE', 'MODEL',
    'LIC_PLATE_STATE', 'VEHICLE_DEFECT', 'TRAVEL_DIRECTION', 'PERSON_ID', 'CITY', 'STATE',
    'ZIPCODE', 'DRIVERS_LICENSE_STATE', 'DRIVERS_LICENSE_CLASS', 'INJURY_CLASSIFICATION', 
    'DRIVER_ACTION', 'VEHICLE_ID_x', 'PHYSICAL_CONDITION'
], inplace=True)

In [49]:
merged2.shape

(2958845, 31)

In [50]:
#checking nulls after combining

In [51]:
merged2.isna().sum()

CRASH_RECORD_ID                 0
CRASH_DATE_x                    0
POSTED_SPEED_LIMIT              0
DEVICE_CONDITION                0
WEATHER_CONDITION               0
LIGHTING_CONDITION              0
FIRST_CRASH_TYPE                0
TRAFFICWAY_TYPE                 0
ROADWAY_SURFACE_COND            0
PRIM_CONTRIBUTORY_CAUSE         0
INJURIES_TOTAL                  0
INJURIES_FATAL                  0
CRASH_HOUR                      0
CRASH_DAY_OF_WEEK               0
CRASH_MONTH                     0
LATITUDE                    17971
LONGITUDE                   17971
CRASH_UNIT_ID                   0
UNIT_NO                         0
UNIT_TYPE                    3586
VEHICLE_YEAR               465623
VEHICLE_TYPE                68239
VEHICLE_USE                 68239
MANEUVER                    68239
OCCUPANT_CNT                68239
PERSON_TYPE                     0
SEX                         46247
AGE                        851457
SAFETY_EQUIPMENT             9246
AIRBAG_DEPLOYED             57105
DRIVER_VISION              613359
dtype: int64

In [52]:
#due to size of data set all null values will be dropped

In [53]:
merged2.dropna(inplace=True)

In [54]:
merged2.isna().sum()

CRASH_RECORD_ID            0
CRASH_DATE_x               0
POSTED_SPEED_LIMIT         0
DEVICE_CONDITION           0
WEATHER_CONDITION          0
LIGHTING_CONDITION         0
FIRST_CRASH_TYPE           0
TRAFFICWAY_TYPE            0
ROADWAY_SURFACE_COND       0
PRIM_CONTRIBUTORY_CAUSE    0
INJURIES_TOTAL             0
INJURIES_FATAL             0
CRASH_HOUR                 0
CRASH_DAY_OF_WEEK          0
CRASH_MONTH                0
LATITUDE                   0
LONGITUDE                  0
CRASH_UNIT_ID              0
UNIT_NO                    0
UNIT_TYPE                  0
VEHICLE_YEAR               0
VEHICLE_TYPE               0
VEHICLE_USE                0
MANEUVER                   0
OCCUPANT_CNT               0
PERSON_TYPE                0
SEX                        0
AGE                        0
SAFETY_EQUIPMENT           0
AIRBAG_DEPLOYED            0
DRIVER_VISION              0
dtype: int64

In [55]:
merged2.reset_index(drop=True)

,CRASH_RECORD_ID,CRASH_DATE_x,POSTED_SPEED_LIMIT,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ROADWAY_SURFACE_COND,PRIM_CONTRIBUTORY_CAUSE,...,VEHICLE_TYPE,VEHICLE_USE,MANEUVER,OCCUPANT_CNT,PERSON_TYPE,SEX,AGE,SAFETY_EQUIPMENT,AIRBAG_DEPLOYED,DRIVER_VISION
0,0115ade9a755e835255508463f7e9c4a9a0b47e9304238...,07/15/2022 12:45:00 AM,30,UNKNOWN,CLEAR,"DARKNESS, LIGHTED ROAD",ANGLE,NOT DIVIDED,DRY,UNABLE TO DETERMINE,...,UNKNOWN/NA,UNKNOWN/NA,STRAIGHT AHEAD,1.0,DRIVER,M,62.0,USAGE UNKNOWN,NOT APPLICABLE,UNKNOWN
1,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,07/15/2022 06:50:00 PM,30,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,DRY,UNABLE TO DETERMINE,...,PASSENGER,PERSONAL,SLOW/STOP IN TRAFFIC,1.0,DRIVER,F,58.0,USAGE UNKNOWN,DID NOT DEPLOY,UNKNOWN
2,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,07/15/2022 06:50:00 PM,30,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,DRY,UNABLE TO DETERMINE,...,PASSENGER,PERSONAL,SLOW/STOP IN TRAFFIC,1.0,DRIVER,M,49.0,USAGE UNKNOWN,DID NOT DEPLOY,UNKNOWN
3,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,07/15/2022 06:50:00 PM,30,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,DRY,UNABLE TO DETERMINE,...,PASSENGER,PERSONAL,SLOW/STOP IN TRAFFIC,1.0,DRIVER,F,58.0,USAGE UNKNOWN,DID NOT DEPLOY,UNKNOWN
4,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,07/15/2022 06:50:00 PM,30,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,DRY,UNABLE TO DETERMINE,...,PASSENGER,PERSONAL,SLOW/STOP IN TRAFFIC,1.0,DRIVER,M,49.0,USAGE UNKNOWN,DID NOT DEPLOY,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1506612,eeb35261fea364c1a40c758acf1d340f3a5b723f6b74cd...,07/29/2022 05:58:00 PM,30,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,PEDESTRIAN,FOUR WAY,DRY,UNABLE TO DETERMINE,...,PASSENGER,PERSONAL,TURNING LEFT,1.0,DRIVER,F,66.0,USAGE UNKNOWN,NOT APPLICABLE,NOT OBSCURED
1506613,f9d60f924bf548ed0f776e54a711cfa13727d9842ff7b3...,07/17/2022 05:30:00 AM,30,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,NOT DIVIDED,DRY,UNABLE TO DETERMINE,...,UNKNOWN/NA,UNKNOWN/NA,STRAIGHT AHEAD,1.0,DRIVER,M,21.0,USAGE UNKNOWN,NOT APPLICABLE,UNKNOWN
1506614,f9d60f924bf548ed0f776e54a711cfa13727d9842ff7b3...,07/17/2022 05:30:00 AM,30,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,NOT DIVIDED,DRY,UNABLE TO DETERMINE,...,PASSENGER,PERSONAL,STRAIGHT AHEAD,1.0,DRIVER,M,21.0,USAGE UNKNOWN,NOT APPLICABLE,UNKNOWN
1506615,ee06efe61c057656458f17b6eecb3355bcfe17be104a82...,07/29/2022 06:40:00 PM,30,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,FOUR WAY,DRY,FAILING TO YIELD RIGHT-OF-WAY,...,PASSENGER,PERSONAL,STRAIGHT AHEAD,2.0,DRIVER,M,29.0,USAGE UNKNOWN,"DEPLOYED, COMBINATION",NOT OBSCURED
1506616,ee06efe61c057656458f17b6eecb3355bcfe17be104a82...,07/29/2022 06:40:00 PM,30,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,FOUR WAY,DRY,FAILING TO YIELD RIGHT-OF-WAY,...,PASSENGER,PERSONAL,TURNING LEFT,1.0,DRIVER,M,29.0,USAGE UNKNOWN,"DEPLOYED, COMBINATION",NOT OBSCURED

In [56]:
merged2.drop(columns=['CRASH_DATE_x', 'PRIM_CONTRIBUTORY_CAUSE'] ,inplace=True)

In [57]:
merged2.drop(columns=['CRASH_UNIT_ID'] ,inplace=True)

### Dropping Duplicate Records

In [58]:
merged2.duplicated().sum()

12382

In [59]:
merged2.drop_duplicates(keep='first', inplace=True)

In [60]:
merged2.duplicated().sum()

0

***

## Binning Data

Several of the columns have a high number of unique entries. For categorical columns especially these values/descriptions will be binned inorder to increase future model efficiancy.

**Device Condition**

In [61]:
merged2.DEVICE_CONDITION.value_counts()
#Condition of traffic control device, as determined by reporting officer

NO CONTROLS                 743840
FUNCTIONING PROPERLY        647043
UNKNOWN                      75962
OTHER                        12100
FUNCTIONING IMPROPERLY        9211
NOT FUNCTIONING               5174
WORN REFLECTIVE MATERIAL       686
MISSING                        219
Name: DEVICE_CONDITION, dtype: int64

In [62]:
merged2['DEVICE_CONDITION'] = merged2.DEVICE_CONDITION.map({
    'NO CONTROLS':'Not Working',
    'FUNCTIONING PROPERLY':'Working', 
    'UNKNOWN': 'Unknown',
    'OTHER': 'Unknown',
    'FUNCTIONING IMPROPERLY': 'Not Working',
    'NOT FUNCTIONING': 'Not Working',
    'WORN REFLECTIVE MATERIAL': 'Working',
    'MISSING': 'Unknown' 
})

In [63]:
merged2.DEVICE_CONDITION.value_counts()

Not Working    758225
Working        647729
Unknown         88281
Name: DEVICE_CONDITION, dtype: int64

In [64]:
merged2.DEVICE_CONDITION.isna().sum()

0

**Posted Speed Limit**

In [65]:
merged2.POSTED_SPEED_LIMIT.value_counts()

30    1148720
35     114914
25      79685
20      42373
15      34014
10      20993
40      19212
0       13793
45      11178
5        6262
55       1342
50        376
3         372
9         196
39        167
99        165
1          72
60         70
24         61
32         42
2          38
34         32
33         24
65         18
11         18
7          15
6          14
36         11
14          8
31          8
12          6
29          6
18          4
22          4
63          4
4           4
70          4
38          3
62          2
23          2
26          2
49          1
Name: POSTED_SPEED_LIMIT, dtype: int64

In [66]:
speed_bins = [-1, 30, 60, 100]
speed_labels = ['0-30', '30-60', '60-100']

In [67]:
merged2.POSTED_SPEED_LIMIT = pd.cut(x=merged2.POSTED_SPEED_LIMIT, 
                                    bins= speed_bins,
                                    labels = speed_labels
                                   ,)

In [68]:
merged2.POSTED_SPEED_LIMIT.value_counts()

0-30      1346662
30-60      147380
60-100        193
Name: POSTED_SPEED_LIMIT, dtype: int64

In [69]:
merged2.POSTED_SPEED_LIMIT.isna().sum()

0

**Weather Condition**

In [70]:
merged2.WEATHER_CONDITION.value_counts()

CLEAR                       1199409
RAIN                         142735
SNOW                          53393
CLOUDY/OVERCAST               49859
UNKNOWN                       36373
OTHER                          4754
FREEZING RAIN/DRIZZLE          2465
SLEET/HAIL                     2180
FOG/SMOKE/HAZE                 2123
BLOWING SNOW                    667
SEVERE CROSS WIND GATE          261
BLOWING SAND, SOIL, DIRT         16
Name: WEATHER_CONDITION, dtype: int64

In [71]:
merged2['WEATHER_CONDITION'] = merged2.WEATHER_CONDITION.map({
    'CLEAR':'Clear',
    'RAIN':'Rain/Sleet/Snow', 
    'SNOW': 'Rain/Sleet/Snow',
    'CLOUDY/OVERCAST': 'Cloudy',
    'UNKNOWN': 'Other/Unknown',
    'OTHER': 'Other/Unknown',
    'FREEZING RAIN/DRIZZLE':'Rain/Sleet/Snow',
    'SLEET/HAIL': 'Rain/Sleet/Snow',
    'FOG/SMOKE/HAZE': 'Fog/Smoke/Haze',
    'BLOWING SNOW':'Rain/Sleet/Snow', 
    'SEVERE CROSS WIND GATE': 'Windy',
    'BLOWING SAND, SOIL, DIRT': 'Windy'
})

In [72]:
merged2.WEATHER_CONDITION.value_counts()

Clear              1199409
Rain/Sleet/Snow     201440
Cloudy               49859
Other/Unknown        41127
Fog/Smoke/Haze        2123
Windy                  277
Name: WEATHER_CONDITION, dtype: int64

In [73]:
merged2.WEATHER_CONDITION.isna().sum()

0

**Lighting Condition**

In [74]:
merged2.LIGHTING_CONDITION.value_counts()

DAYLIGHT                  1034848
DARKNESS, LIGHTED ROAD     307958
DARKNESS                    58619
DUSK                        45534
DAWN                        23922
UNKNOWN                     23354
Name: LIGHTING_CONDITION, dtype: int64

In [75]:
merged2['LIGHTING_CONDITION'] = merged2.LIGHTING_CONDITION.map({
    'DAYLIGHT':'Day',
    'DARKNESS, LIGHTED ROAD':'Night', 
    'DARKNESS': 'Night',
    'DUSK': 'Night',
    'DAWN': 'Day',
    'UNKNOWN': 'Unknown',

})

In [76]:
merged2.LIGHTING_CONDITION.value_counts()

Day        1058770
Night       412111
Unknown      23354
Name: LIGHTING_CONDITION, dtype: int64

In [77]:
merged2.LIGHTING_CONDITION.isna().sum()

0

**Crash Type**

In [78]:
merged2.FIRST_CRASH_TYPE.value_counts()

REAR END                        479779
TURNING                         288785
SIDESWIPE SAME DIRECTION        275420
ANGLE                           220738
PARKED MOTOR VEHICLE            113986
SIDESWIPE OPPOSITE DIRECTION     26012
FIXED OBJECT                     23179
HEAD ON                          17685
REAR TO FRONT                    14018
REAR TO SIDE                      9353
PEDESTRIAN                        8430
PEDALCYCLIST                      5816
OTHER OBJECT                      5264
REAR TO REAR                      3152
OTHER NONCOLLISION                1876
OVERTURNED                         384
ANIMAL                             315
TRAIN                               43
Name: FIRST_CRASH_TYPE, dtype: int64

In [79]:
merged2['FIRST_CRASH_TYPE'] = merged2.FIRST_CRASH_TYPE.map({
    'REAR END':'Moving',
    'TURNING':'Moving', 
    'SIDESWIPE SAME DIRECTION': 'Moving',
    'ANGLE': 'Moving',
    'PARKED MOTOR VEHICLE': 'Stationary',
    'SIDESWIPE OPPOSITE DIRECTION': 'Moving',
    'FIXED OBJECT':'Stationary', 
    'HEAD ON': 'Moving',
    'REAR TO FRONT': 'Moving',
    'REAR TO SIDE': 'Moving',
    'PEDESTRIAN': 'Object/Person',
    'PEDALCYCLIST': 'Object/Person',
    'OTHER OBJECT':'Object/Person', 
    'REAR TO REAR': 'Moving',
    'OTHER NONCOLLISION': 'Other',
    'OVERTURNED': 'Moving',
    'ANIMAL': 'Object/Person',
    'TRAIN': 'Train'
})

In [80]:
merged2.FIRST_CRASH_TYPE.value_counts()

Moving           1335326
Stationary        137165
Object/Person      19825
Other               1876
Train                 43
Name: FIRST_CRASH_TYPE, dtype: int64

In [81]:
merged2.FIRST_CRASH_TYPE.isna().sum()

0

**Trafficway Type**

In [82]:
merged2.TRAFFICWAY_TYPE.value_counts()

NOT DIVIDED                        681256
DIVIDED - W/MEDIAN (NOT RAISED)    298098
ONE-WAY                            133395
DIVIDED - W/MEDIAN BARRIER         104396
FOUR WAY                            93176
PARKING LOT                         66097
OTHER                               36786
T-INTERSECTION                      18319
CENTER TURN LANE                    15240
ALLEY                               15054
UNKNOWN                             12364
RAMP                                 4586
UNKNOWN INTERSECTION TYPE            4420
DRIVEWAY                             3494
FIVE POINT, OR MORE                  2218
Y-INTERSECTION                       2114
TRAFFIC ROUTE                        1746
NOT REPORTED                          885
ROUNDABOUT                            310
L-INTERSECTION                        281
Name: TRAFFICWAY_TYPE, dtype: int64

In [83]:
merged2['TRAFFICWAY_TYPE'] = merged2.TRAFFICWAY_TYPE.map({
    'NOT DIVIDED': 'Road/Street',
    'DIVIDED - W/MEDIAN (NOT RAISED)': 'Road/Street',
    'ONE-WAY': 'Road/Street',
    'DIVIDED - W/MEDIAN BARRIER': 'Road/Street',
    'FOUR WAY': 'Intersection',
    'PARKING LOT': 'Parking lot',
    'OTHER': "Other/Unknown",
    'T-INTERSECTION': 'Intersection',
    'CENTER TURN LANE': 'Road/Street',
    'ALLEY': 'Road/Streen',
    'UNKNOWN': 'Other/Unknown',
    'RAMP': 'Highway',
    'UNKNOWN INTERSECTION TYPE': "Other/Unknown",
    'DRIVEWAY': 'Parking lot',
    'FIVE POINT, OR MORE': 'Intersection',
    'Y-INTERSECTION': 'Intersection',
    'TRAFFIC ROUTE': 'Other/Unknown',
    'NOT REPORTED': 'Other/Unknown',
    'ROUNDABOUT': 'Intersection',
    'L-INTERSECTION': 'Intersection'
})

In [84]:
merged2.TRAFFICWAY_TYPE.value_counts()

Road/Street      1232385
Intersection      116418
Parking lot        69591
Other/Unknown      56201
Road/Streen        15054
Highway             4586
Name: TRAFFICWAY_TYPE, dtype: int64

In [85]:
merged2.TRAFFICWAY_TYPE.isna().sum()

0

**Roadway Surface Condition**

In [86]:
merged2.ROADWAY_SURFACE_COND.value_counts()

DRY                1131700
WET                 219163
UNKNOWN              75137
SNOW OR SLUSH        52510
ICE                  11965
OTHER                 3380
SAND, MUD, DIRT        380
Name: ROADWAY_SURFACE_COND, dtype: int64

In [87]:
merged2['ROADWAY_SURFACE_COND'] = merged2.ROADWAY_SURFACE_COND.map({
    'DRY': 'Dry',
    'WET': 'Wet',
    'UNKNOWN': 'Other/Unknown',
    'SNOW OR SLUSH': 'Ice',
    'ICE': 'Ice',
    'OTHER': "Other/Unknown",
    'SAND, MUD, DIRT': "Other/Unknown"
})

In [88]:
merged2.ROADWAY_SURFACE_COND.value_counts()

Dry              1131700
Wet               219163
Other/Unknown      78897
Ice                64475
Name: ROADWAY_SURFACE_COND, dtype: int64

In [89]:
merged2.CRASH_HOUR.isna().sum()

0

**Crash Hour**

In [90]:
merged2.CRASH_HOUR.value_counts()

16    124120
15    122668
17    121806
14    106454
18     97148
13     95384
12     90387
8      83104
11     78378
9      69622
10     68646
19     67655
7      65913
20     51457
21     45511
22     41240
23     33240
6      30476
0      24581
1      19829
2      16665
5      15785
3      12672
4      11494
Name: CRASH_HOUR, dtype: int64

In [91]:
merged2.CRASH_HOUR = pd.cut(x = merged2.CRASH_HOUR,
                                   bins =[-1, 6, 12, 18, 23],
                                   labels = ['Early Morning', 'Morning', 'Afternoon', 'Evening/Night'])

In [92]:
merged2.CRASH_HOUR.value_counts()

Afternoon        667580
Morning          456050
Evening/Night    239103
Early Morning    131502
Name: CRASH_HOUR, dtype: int64

In [93]:
merged2.CRASH_HOUR.isna().sum()

0

**Unit Number**

A unique ID for each unit within a specific crash report.

In [94]:
merged2.UNIT_NO.value_counts()

2     719598
1     691899
3      64788
4      12883
5       3203
6       1054
7        436
8        207
9         87
10        22
11        14
12         8
15         6
14         6
13         6
0          5
16         5
17         4
18         4
Name: UNIT_NO, dtype: int64

In [95]:
#after looking at value counts, 
#this column is not helpful and will be dropped

In [96]:
merged2.drop('UNIT_NO', axis =1, inplace=True)

**Unit Type**

In [97]:
merged2.UNIT_TYPE.value_counts()

DRIVER                 1418772
PARKED                   70216
DRIVERLESS                5047
NON-CONTACT VEHICLE        134
DISABLED VEHICLE            66
Name: UNIT_TYPE, dtype: int64

**Vehicle Year**

In [98]:
merged2.VEHICLE_YEAR.value_counts()

2015.0    115288
2016.0    107971
2017.0    103143
2014.0    102241
2013.0     93867
           ...
2515.0         1
2222.0         1
2116.0         1
2079.0         1
8324.0         1
Name: VEHICLE_YEAR, Length: 192, dtype: int64

In [99]:
merged2.VEHICLE_YEAR.nunique()

192

In [100]:
#several issues with year entries, will drop column
merged2.drop('VEHICLE_YEAR', axis =1, inplace=True)

In [101]:
merged2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1494235 entries, 3 to 2958840
Data columns (total 26 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   CRASH_RECORD_ID       1494235 non-null  object
 1   POSTED_SPEED_LIMIT    1494235 non-null  category
 2   DEVICE_CONDITION      1494235 non-null  object
 3   WEATHER_CONDITION     1494235 non-null  object
 4   LIGHTING_CONDITION    1494235 non-null  object
 5   FIRST_CRASH_TYPE      1494235 non-null  object
 6   TRAFFICWAY_TYPE       1494235 non-null  object
 7   ROADWAY_SURFACE_COND  1494235 non-null  object
 8   INJURIES_TOTAL        1494235 non-null  float64
 9   INJURIES_FATAL        1494235 non-null  float64
 10  CRASH_HOUR            1494235 non-null  category
 11  CRASH_DAY_OF_WEEK     1494235 non-null  int64
 12  CRASH_MONTH           1494235 non-null  int64
 13  LATITUDE              1494235 non-null  float64
 14  LONGITUDE             1494235 non-null  float64
 15  UNIT_TYPE             1494235 non-null  object
 16  VEHICLE_TYPE          1494235 non-null  object
 17  VEHICLE_USE           1494235 non-null  object
 18  MANEUVER              1494235 non-null  object
 19  OCCUPANT_CNT          1494235 non-null  float64
 20  PERSON_TYPE           1494235 non-null  object
 21  SEX                   1494235 non-null  object
 22  AGE                   1494235 non-null  float64
 23  SAFETY_EQUIPMENT      1494235 non-null  object
 24  AIRBAG_DEPLOYED       1494235 non-null  object
 25  DRIVER_VISION         1494235 non-null  object
dtypes: category(2), float64(6), int64(2), object(16)
memory usage: 287.9+ MB

**Vehicle Type**

In [102]:
merged2.VEHICLE_TYPE.value_counts()

PASSENGER                                 1033602
SPORT UTILITY VEHICLE (SUV)                215552
VAN/MINI-VAN                                76333
PICKUP                                      47553
UNKNOWN/NA                                  35053
TRUCK - SINGLE UNIT                         26679
BUS OVER 15 PASS.                           16660
OTHER                                       14947
TRACTOR W/ SEMI-TRAILER                     14345
MOTORCYCLE (OVER 150CC)                      3586
BUS UP TO 15 PASS.                           3341
TRACTOR W/O SEMI-TRAILER                     2057
OTHER VEHICLE WITH TRAILER                   1894
SINGLE UNIT TRUCK WITH TRAILER               1679
MOTOR DRIVEN CYCLE                            323
MOPED OR MOTORIZED BICYCLE                    259
AUTOCYCLE                                     219
ALL-TERRAIN VEHICLE (ATV)                      78
3-WHEELED MOTORCYCLE (2 REAR WHEELS)           36
FARM EQUIPMENT                                 33
RECREATIONAL OFF-HIGHWAY VEHICLE (ROV)          6
Name: VEHICLE_TYPE, dtype: int64

In [103]:
merged2['VEHICLE_TYPE'] = merged2.VEHICLE_TYPE.map({
    'PASSENGER': 'Car',
    'SPORT UTILITY VEHICLE (SUV)': 'SUV/Van',
    'VAN/MINI-VAN': 'SUV/Van',
    'PICKUP': 'Truck',
    'UNKNOWN/NA': 'Unknown',
    'TRUCK - SINGLE UNIT': "Truck",
    'BUS OVER 15 PASS.': "Bus",
    'OTHER': "Other",
    'TRACTOR W/ SEMI-TRAILER': 'Semi',
    'TRACTOR W/O SEMI-TRAILER': "Semi",
    'MOTORCYCLE (OVER 150CC)': 'Motorbike/cycle',
    'BUS UP TO 15 PASS.': 'Bus',
    'OTHER VEHICLE WITH TRAILER': "Trailer",
    'SINGLE UNIT TRUCK WITH TRAILER': "Trailer",
    'MOTOR DRIVEN CYCLE': "Motorbike/cycle",
    'MOPED OR MOTORIZED BICYCLE': "Motorbike/cycle",
    'AUTOCYCLE': "Motorbike/cycle",
    'ALL-TERRAIN VEHICLE (ATV)': "Other",
    '3-WHEELED MOTORCYCLE (2 REAR WHEELS)': "Motorbike/cycle",
    'FARM EQUIPMENT': "Other",
    'RECREATIONAL OFF-HIGHWAY VEHICLE (ROV)': "Other"
})

In [104]:
merged2.VEHICLE_TYPE.value_counts()

Car                1033602
SUV/Van             291885
Truck                74232
Unknown              35053
Bus                  20001
Semi                 16402
Other                15064
Motorbike/cycle       4423
Trailer               3573
Name: VEHICLE_TYPE, dtype: int64

In [105]:
merged2.VEHICLE_TYPE.isna().sum()

0

**Vehicle Use**

In [106]:
merged2.VEHICLE_USE.value_counts()
#after further inspection, does not seem descriptive enough, 
#will be dropped

PERSONAL                        1159692
UNKNOWN/NA                       140339
OTHER                             45761
NOT IN USE                        32573
TAXI/FOR HIRE                     25835
COMMERCIAL - SINGLE UNIT          20214
RIDESHARE SERVICE                 15882
CTA                               11033
POLICE                             9629
CONSTRUCTION/MAINTENANCE           7433
COMMERCIAL - MULTI-UNIT            6567
OTHER TRANSIT                      4923
SCHOOL BUS                         4304
TOW TRUCK                          3026
AMBULANCE                          1752
DRIVER EDUCATION                   1289
STATE OWNED                        1200
MASS TRANSIT                        988
FIRE                                831
LAWN CARE/LANDSCAPING               646
AGRICULTURE                         157
CAMPER/RV - SINGLE UNIT              79
MILITARY                             54
HOUSE TRAILER                        20
CAMPER/RV - TOWED/MULTI-UNIT          8
Name: VEHICLE_USE, dtype: int64

In [107]:
merged2.drop('VEHICLE_USE', axis =1, inplace=True)

**Maneuver**

In [108]:
merged2.MANEUVER.value_counts()

STRAIGHT AHEAD                        818543
SLOW/STOP IN TRAFFIC                  159197
TURNING LEFT                          109157
PARKED                                 71684
TURNING RIGHT                          55076
BACKING                                53851
UNKNOWN/NA                             34963
PASSING/OVERTAKING                     34062
CHANGING LANES                         33805
OTHER                                  26005
ENTERING TRAFFIC LANE FROM PARKING     20883
MERGING                                12483
STARTING IN TRAFFIC                    11625
U-TURN                                  9706
AVOIDING VEHICLES/OBJECTS               7240
ENTER FROM DRIVE/ALLEY                  6893
SKIDDING/CONTROL LOSS                   6379
LEAVING TRAFFIC LANE TO PARK            5914
SLOW/STOP - LEFT TURN                   4729
SLOW/STOP - RIGHT TURN                  2773
SLOW/STOP - LOAD/UNLOAD                 2321
PARKED IN TRAFFIC LANE                  1970
NEGOTIATING A CURVE                     1918
DRIVING WRONG WAY                       1859
TURNING ON RED                           621
DRIVERLESS                               298
DIVERGING                                221
DISABLED                                  59
Name: MANEUVER, dtype: int64

In [109]:
#seems redundant of crash type, will drop

In [110]:
merged2.drop('MANEUVER', axis =1, inplace=True)

**Occupant Count**

In [111]:
merged2.OCCUPANT_CNT.value_counts()

1.0     1146667
2.0      195826
0.0       67704
3.0       53024
4.0       20551
5.0        7033
6.0        1867
7.0         731
8.0         261
9.0         131
11.0         88
10.0         72
12.0         47
13.0         45
15.0         27
20.0         19
16.0         19
14.0         16
19.0         13
36.0         10
18.0          9
26.0          9
17.0          6
28.0          6
25.0          5
30.0          5
35.0          4
33.0          4
39.0          4
29.0          4
41.0          4
44.0          3
27.0          3
21.0          3
43.0          2
60.0          2
24.0          2
23.0          2
34.0          2
47.0          1
38.0          1
37.0          1
22.0          1
31.0          1
Name: OCCUPANT_CNT, dtype: int64

In [112]:
#since most vehicles are not buses or trains 
#and can hold 7 or less people this feature does not seem helpful
# and will be dropped
# number injured in each crash will be more valueable

In [113]:
merged2.drop('OCCUPANT_CNT', axis =1, inplace=True)

**Person Type**

In [114]:
merged2.PERSON_TYPE.value_counts()

DRIVER                 1493849
NON-MOTOR VEHICLE          214
NON-CONTACT VEHICLE        172
Name: PERSON_TYPE, dtype: int64

**Sex**

In [115]:
merged2.SEX.value_counts()

M    892580
F    599993
X      1662
Name: SEX, dtype: int64

**Age**

In [116]:
merged2.AGE.value_counts()

 27.0     44368
 25.0     44331
 26.0     44063
 28.0     43367
 29.0     42186
          ...
-1.0          3
 102.0        3
-177.0        2
-47.0         2
-49.0         1
Name: AGE, Length: 113, dtype: int64

In [117]:
#seems to be data entry errors, 
#will only keep rows with people between 0 and 100 years of age

In [118]:
merged2 = merged2[merged2.AGE > 0]

In [119]:
merged2.head()

,CRASH_RECORD_ID,POSTED_SPEED_LIMIT,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ROADWAY_SURFACE_COND,INJURIES_TOTAL,INJURIES_FATAL,...,LATITUDE,LONGITUDE,UNIT_TYPE,VEHICLE_TYPE,PERSON_TYPE,SEX,AGE,SAFETY_EQUIPMENT,AIRBAG_DEPLOYED,DRIVER_VISION
3,0115ade9a755e835255508463f7e9c4a9a0b47e9304238...,0-30,Unknown,Clear,Night,Moving,Road/Street,Dry,0.0,0.0,...,41.886336,-87.716203,DRIVER,Unknown,DRIVER,M,62.0,USAGE UNKNOWN,NOT APPLICABLE,UNKNOWN
4,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,0-30,Working,Clear,Day,Moving,Road/Street,Dry,0.0,0.0,...,41.925111,-87.667997,DRIVER,Car,DRIVER,F,58.0,USAGE UNKNOWN,DID NOT DEPLOY,UNKNOWN
5,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,0-30,Working,Clear,Day,Moving,Road/Street,Dry,0.0,0.0,...,41.925111,-87.667997,DRIVER,Car,DRIVER,M,49.0,USAGE UNKNOWN,DID NOT DEPLOY,UNKNOWN
6,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,0-30,Working,Clear,Day,Moving,Road/Street,Dry,0.0,0.0,...,41.925111,-87.667997,DRIVER,Car,DRIVER,F,58.0,USAGE UNKNOWN,DID NOT DEPLOY,UNKNOWN
7,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,0-30,Working,Clear,Day,Moving,Road/Street,Dry,0.0,0.0,...,41.925111,-87.667997,DRIVER,Car,DRIVER,M,49.0,USAGE UNKNOWN,DID NOT DEPLOY,UNKNOWN

In [120]:
merged2.AGE.value_counts()

27.0     44368
25.0     44331
26.0     44063
28.0     43367
29.0     42186
         ...
108.0        5
109.0        4
107.0        4
104.0        4
102.0        3
Name: AGE, Length: 108, dtype: int64

In [121]:
merged2 = merged2[merged2.AGE < 100]

In [122]:
merged2.AGE.value_counts()

27.0    44368
25.0    44331
26.0    44063
28.0    43367
29.0    42186
        ...
97.0       39
9.0        36
6.0        27
7.0        24
5.0        20
Name: AGE, Length: 99, dtype: int64

In [123]:
merged2.AGE = pd.cut(x = merged2.AGE,
                         bins =[-1, 25, 50, 75, 100],
                         labels = ['Young', 'Adult', 'Senior', 'Elderly'])

In [124]:
merged2.AGE.value_counts()

Adult      809521
Senior     361302
Young      281923
Elderly     27489
Name: AGE, dtype: int64

**Safety Equipment**

In [125]:
merged2.SAFETY_EQUIPMENT.value_counts()

SAFETY BELT USED                       934383
USAGE UNKNOWN                          500761
NONE PRESENT                            33673
SAFETY BELT NOT USED                     7272
HELMET NOT USED                          1816
DOT COMPLIANT MOTORCYCLE HELMET          1237
HELMET USED                               718
NOT DOT COMPLIANT MOTORCYCLE HELMET       195
SHOULD/LAP BELT USED IMPROPERLY           170
STRETCHER                                   4
CHILD RESTRAINT USED                        3
WHEELCHAIR                                  3
Name: SAFETY_EQUIPMENT, dtype: int64

In [126]:
merged2['SAFETY_EQUIPMENT'] = merged2.SAFETY_EQUIPMENT.map({
    'SAFETY BELT USED': 'Used',
    'USAGE UNKNOWN': 'Unknown',
    'NONE PRESENT': 'Not Used',
    'SAFETY BELT NOT USED': 'Not Used',
    'HELMET NOT USED': 'Not Used',
    'DOT COMPLIANT MOTORCYCLE HELMET': "Used",
    'HELMET USED': "Used",
    'NOT DOT COMPLIANT MOTORCYCLE HELMET': "Used",
    'SHOULD/LAP BELT USED IMPROPERLY': 'Not Used',
    'STRETCHER': "Used",
    'WHEELCHAIR': 'Used',
    'CHILD RESTRAINT USED': 'Used'
})

In [127]:
merged2.SAFETY_EQUIPMENT.value_counts()

Used        936543
Unknown     500761
Not Used     42931
Name: SAFETY_EQUIPMENT, dtype: int64

In [128]:
merged2.SAFETY_EQUIPMENT.isna().sum()

0

**Driver Vision**

In [129]:
merged2.DRIVER_VISION.value_counts()

NOT OBSCURED              993110
UNKNOWN                   443484
OTHER                      16025
MOVING VEHICLES            11206
PARKED VEHICLES             7082
WINDSHIELD (WATER/ICE)      5266
BLINDED - SUNLIGHT          2095
TREES, PLANTS                793
BUILDINGS                    578
HILLCREST                    160
BLINDED - HEADLIGHTS         150
EMBANKMENT                   122
BLOWING MATERIALS            116
SIGNBOARD                     48
Name: DRIVER_VISION, dtype: int64

In [130]:
merged2['DRIVER_VISION'] = merged2.DRIVER_VISION.map({
    'NOT OBSCURED': 'Not Obstructed',
    'UNKNOWN': 'Unknown/Other',
    'OTHER': 'Uknown/Other',
    'MOVING VEHICLES': 'Obstructed',
    'PARKED VEHICLES': 'Obstructed',
    'WINDSHIELD (WATER/ICE)': "Obstructed",
    'BLINDED - SUNLIGHT': "Obstructed",
    'TREES, PLANTS': "Obstructed",
    'BUILDINGS': 'Obstructed',
    'HILLCREST': "Obstructed",
    'BLINDED - HEADLIGHTS': 'Obstructed',
    'EMBANKMENT': 'Obstructed',
    'BLOWING MATERIALS': 'Obstructed',
    'SIGNBOARD': 'Obstructed'
})

In [131]:
merged2.SAFETY_EQUIPMENT.value_counts()

Used        936543
Unknown     500761
Not Used     42931
Name: SAFETY_EQUIPMENT, dtype: int64

In [132]:
merged2.SAFETY_EQUIPMENT.isna().sum()

0

**Airbag Deployed**

In [133]:
merged2.AIRBAG_DEPLOYED.value_counts()

DID NOT DEPLOY                            999013
NOT APPLICABLE                            287010
DEPLOYMENT UNKNOWN                         73775
DEPLOYED, FRONT                            64015
DEPLOYED, COMBINATION                      40455
DEPLOYED, SIDE                             15171
DEPLOYED OTHER (KNEE, AIR, BELT, ETC.)       796
Name: AIRBAG_DEPLOYED, dtype: int64

In [134]:
merged2['AIRBAG_DEPLOYED'] = merged2.AIRBAG_DEPLOYED.map({
    'DID NOT DEPLOY': 'Not Deployed',
    'NOT APPLICABLE': 'Not Deployed',
    'DEPLOYMENT UNKNOWN': 'Uknown',
    'DEPLOYED, FRONT': 'Deployed',
    'DEPLOYED, COMBINATION': 'Deployed',
    'DEPLOYED, SIDE': 'Deployed',
    'DEPLOYED, OTHER (KNEE, AIR, BELT, ETC.)': 'Deployed'
})

In [135]:
merged2.AIRBAG_DEPLOYED.value_counts()

Not Deployed    1286023
Deployed         119641
Uknown            73775
Name: AIRBAG_DEPLOYED, dtype: int64

In [136]:
merged2.SAFETY_EQUIPMENT.isna().sum()

0

### Target Preparation
Because we are trying to predict if an injury occurred and not how many or severity, our target will be **INJURIES_TOTAL** (INJURIES_FATAL will be dropped). Entries with an injury will be set to 1 and no injuries will be set to 0.

**Injuries**

In [137]:
merged2.drop('INJURIES_FATAL', axis =1, inplace=True)

In [139]:
merged2.INJURIES_TOTAL.value_counts(normalize=True)

0.0     0.834652
1.0     0.109235
2.0     0.035326
3.0     0.012370
4.0     0.004889
5.0     0.001900
6.0     0.000855
7.0     0.000371
8.0     0.000185
9.0     0.000105
10.0    0.000040
11.0    0.000015
12.0    0.000015
16.0    0.000014
15.0    0.000011
13.0    0.000008
21.0    0.000006
19.0    0.000003
Name: INJURIES_TOTAL, dtype: float64

In [141]:
merged2.INJURIES_TOTAL = merged2.INJURIES_TOTAL.apply(lambda x: 0 if x == 0.0 else 1)

In [143]:
merged2.INJURIES_TOTAL.value_counts(normalize=True)

0    0.834652
1    0.165348
Name: INJURIES_TOTAL, dtype: float64